@import 'base.css';

:root {
  --clr-fondo: #f0f0f0;
  --clr-acento: #1e90ff;
  --clr-error: #ff3232;
  --Difuminado: linear-gradient(to right, #14409e, #2784a8, #27d4eb);
  --clr-gris-claro: #d9d9d9;
  --clr-negro: #000000;
  --clr-blanco: #ffffff;
  --clr-gris-oscuro: #1e1e1e;
}

/* ===== general ===== */
a,
a:visited {
  text-decoration: none;
  color: var(--clr-acento);
}

/* ===== body ===== */
body {
  background-color: var(--clr-fondo);
}

/* ===== header ===== */
header {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 4rem;
  background-color: var(--clr-blanco);
}

/* --- inicio --- */
#header-inicio ul {
  justify-content: space-between;
}

#header-inicio ul::before {
  content: '';
}

#header-inicio #logo {
  margin-left: 10%;
}

#header-inicio div {
  gap: 1rem;
}

/* ===== clases de utilidad ===== */
.flex-center {
  display: flex;

  justify-content: center;
  align-items: center;
}

a.btn {
  color: var(--clr-negro);
  background-color: var(--clr-gris-claro);

  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.error {
  background-color: var(--clr-error);
}


/* header nagusia */
#nav-nagusia {
  width: 100%;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  background: var(--clr-gris-oscuro);
  border: 3px solid;
  border-image-slice: 1;
  border-left: none;
  border-right: none;
  box-shadow: 0px 5px 18px -6px rgba(0,0,0,0.75);
  
}

.buscador{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1%;
}

#nav-nagusia a{
  display: inline-flex;
  margin-right: 8%;
  margin-left: 5%;
}

#nav-nagusia a{
  color: var(--clr-blanco);
  text-decoration: none;
  padding: 0.625rem 0.875rem;
  opacity: 0.6;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}
/* 
nav button{
  display: none;
} */

a#active{
  opacity: 1;
}

.header li a:hover, #nav-nagusia a:hover{
  opacity: 1;
  transform: scale(1.1);
  text-shadow: 0px 0px 0.625rem var(--clr-acento);
  box-shadow: none
}

#perfil{
  display: flex;
  justify-content: right;
  float: right; 
  padding:  0.625rem 0.875rem;
  height: 6%;
  width: 6%;
}


/* footer ------------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*formato del Footer*/
.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display:flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}


.footer {
  position: relative;
  float: left;
  clear: left;
  background-color: var(--clr-gris-oscuro);
  padding-block: 2rem;
  width: 100%;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #14409e, #2784a8, #27d4eb);
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.footer-col{
  width: 25%;
  color: rgb(128, 124, 124);
  transition: all 0.1s ease;
}
.footer-texto{
  width: 25%;
  color: #fff;
}

.footer-col p:hover{
  color: #fff;
  padding-left: 8px;
  transition: all 0.1s ease-in-out;
}
.footer-col p:hover{
  color: #fff;
  padding-left: 8px;
  transition: all 0.1s ease-in-out;
}

.footer-col h4{
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight:500;
  position: relative;

}

.footer-col h4::before {
   content: '';
   position: absolute;
   bottom: -10px;
   left: 0;
   width: 20%;
   height: 2px;
   background: var(--Difuminado);
   z-index: 1;
   transform: scaleX(1);
   transform-origin: left;
   transition: transform 0.4s ease-in-out;
}

.footer-col h4:hover::before {
   transform: scaleX(0);
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight:300;
  color: rgb(128, 124, 124);
  display: block;
  transition: all 0.1s ease-in-out;
}

.footer-col ul li a:hover{
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: var(--clr-negro);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #fff;
   transition: all 0.1s ease;
}

.footer-col .social-links a:hover{
   color: black;
   background-color: #fff;
   transition: all 0.1s ease-in-out;
}

/*responsive footer*/
@media(max-width:767px){
   .footer-col{
        width: 25%;
        margin-bottom:30px;
   }
}

.footer h2 {
  color:var(--clr-blanco);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1vh;
  text-align: center;
  margin-left: 40%
}

/* login */

@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}
