*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background-color: #f0ffff;
}

.center {
  display: flex;

  justify-content: center;
  align-items: center;
}
