@import 'base.css';

:root {
  --clr-fondo: #f0f0f0;
  --clr-transparente: #00000000;
  --clr-acento: #14409e;
  --clr-error: #ff3232;
  --clr-enlace: #807c7c;

  --clr-gris-claro: #d9d9d9;
  --clr-gris-oscuro: #1e1e1e;
  --clr-negro: #000000;
  --clr-blanco: #ffffff;

  --clr-gradiente-inicial: var(--clr-acento);
  --clr-gradiente-central: #2784a8;
  --clr-gradiente-final: #27d4eb;
  --clr-gradiente-inicial-transparente: #14409e42;
  --clr-gradiente-central-transparente: #2783a84c;
  --clr-gradiente-final-transparente: #27d4eb2f;

  --gradiente: linear-gradient(to right, var(--clr-gradiente-inicial), var(--clr-gradiente-central), var(--clr-gradiente-final));
  --gradiente-transparente: linear-gradient(
    120deg,
    transparent,
    var(--clr-gradiente-inicial-transparente),
    var(--clr-gradiente-central-transparente),
    var(--clr-gradiente-final-transparente),
    transparent
  );

  --outline: var(--clr-acento) solid 0.3125rem;

  --borde-gradiente-radius: linear-gradient(var(--clr-blanco), var(--clr-blanco)) padding-box, var(--gradiente) border-box;

  --sombra-alrededor: 0 0rem 1.125rem -0.375rem rgba(0, 0, 0, 0.75);
  --sombra-superior: 0 -0.375rem 1.125rem -0.375rem rgba(0, 0, 0, 0.75);
  --sombra-inferior: 0 0.375rem 1.125rem -0.375rem rgba(0, 0, 0, 0.75);

  --transicion-rapida: 100ms ease-in-out;
  --transicion: 200ms ease-in-out;

  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

/* ===== general ===== */
body {
  font-size: 1.1rem;
  background-color: var(--clr-fondo);
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: stretch;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
}

:is(h1, h2) span {
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
}

.nota :is(a, a:visited) {
  color: var(--clr-negro);
}

.nota i {
  margin-left: 0.25rem;
}

a,
a:visited {
  text-decoration: underline 0.15rem var(--clr-transparente);
  transition: text-decoration var(--transicion);

  color: var(--clr-acento);
}

a:hover {
  text-decoration-color: initial;
}

#collage {
  width: 1000;
  height: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.form-container {
  background-color: var(--clr-blanco);
  padding: 1.75rem 2.75rem;

  box-shadow: var(--sombra-alrededor);

  border: 3px solid transparent;
  border-radius: 2rem;
  background: var(--borde-gradiente-radius);
}

.form-container form {
  gap: 1rem;
}

form :is(.campo, .campo-predefinido) {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: start;

  font-size: 1.1rem;
  gap: 1rem;
}

form .campo-predefinido p {
  cursor: default;
}

form .campo label:is([for='texto'], [for='sinopsis']) {
  align-self: start;
}

.form-container :is(select, [type='file'], [type='date']) {
  justify-self: stretch;
}

.form-container button {
  margin-top: 1rem;
  align-self: center;
  border: 3px solid transparent;
  border-radius: 1rem;
  background: var(--borde-gradiente-radius);
  padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
}

.form-container button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--gradiente-transparente);
  transition: all 650ms;
}

.form-container button:hover::before {
  left: 100%;
}

input:not([type='file']),
.file-input-text {
  border: none;

  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: var(--gradiente);

  margin: 0.25rem;
}

.file-input-text i {
  color: var(--clr-gradiente-inicial);
  margin-right: 0.25rem;
}

[type='date'] {
  cursor: text;
}

button,
select,
option,
.file-input-text,
[type='file'] {
  cursor: pointer;
}

input,
button,
select,
textarea,
.file-input-text,
#header-perfil img {
  transition: outline var(--transicion-rapida);
}

input:focus-visible,
button:focus-visible,
select:focus-visible,
textarea:focus-visible,
.file-input-text:focus-visible,
#header-perfil img:hover {
  outline: var(--outline);
  outline-offset: 0.1875rem;
}

textarea {
  resize: vertical;

  padding: 0.5rem;

  width: 35ch;
  min-height: 4rem;
  height: 8rem;
  max-height: 16rem;
}

/* ===== header ===== */
header {
  padding: 1rem 4rem;
  background-color: var(--clr-blanco);
  box-shadow: var(--sombra-inferior);
}

/* --- hasiera --- */
#header-inicio::before {
  content: '';
}

#header-inicio::before,
#header-inicio nav {
  flex: 0 0 30%;
}

#header-inicio ul {
  justify-content: end;
  gap: 1rem;
}

/* --- general --- */
#header-general {
  gap: 5rem;
}

#header-general > div {
  flex: 0 0 15%;
}

/* - buscador - */
#buscador {
  flex-basis: 45%;
  position: relative;
}

#buscador input {
  flex: 1 0;
  padding: 1rem 2rem;
  border: 2px solid var(--clr-gris-oscuro);
  border-radius: 2rem;
}

#buscador button {
  position: absolute;
  right: 5%;
  background: none;
  border: none;
}

#header-perfil img {
  height: 5vw;
}

#header-perfil img[src$='png'] {
  border-radius: 100%;
}

/* ===== nav ===== */
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

#header-inicio,
#header-login,
#nav-general {
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: var(--gradiente);

  box-shadow: var(--sombra-inferior);
}
/* --- general --- */
#nav-general {
  background-color: var(--clr-gris-oscuro);
  padding-block: 0.75rem;
}

#nav-general ul {
  gap: 0.25rem 8rem;
  flex-wrap: wrap;
}

#nav-general li {
  text-align: center;
  white-space: nowrap;
  opacity: 0.7;
  font-size: 1.25rem;
  text-shadow: none;
  transition: all var(--transicion);
}

#nav-general li:hover {
  opacity: 1;
}

#nav-general:hover li:not(:hover, .active) {
  opacity: 0.8;
}

#nav-general li.active {
  opacity: 1;
}

#nav-general a {
  color: var(--clr-blanco);
}

/* ===== main ===== */
main {
  flex-grow: 1;
  width: 75vw;
  margin-inline: auto;
  padding-block: 3rem;
}

/* --- hasiera --- */
#collage {
  width: 100%;
  margin-top: 2rem;
}

/* --- nagusia / bilaketa --- */
.grid-libros {
  --gap: 8rem;
  --columnas: 4;
  --min-width: 12rem;

  --total-gap-width: calc((var(--columnas) - 1) * var(--gap));
  --libro-max-width: calc((100% - var(--total-gap-width)) / var(--columnas));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--min-width), var(--libro-max-width)), 1fr));
  /* grid-auto-rows: 1fr; */
  grid-gap: 2rem var(--gap);
  align-items: start;
}

.libro {
  text-align: center;
  gap: 0.5rem;
  align-self: stretch;
}

.libro a {
  color: var(--clr-negro);
}

.libro__portada {
  transition: outline var(--transicion-rapida);
}

.libro__portada:hover {
  outline: var(--outline);
  outline-offset: 0.25rem;
}

.libro__texto,
.libro__titulo {
  width: 120%;
}

.libro__titulo {
  font-weight: 600;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.libro__autor {
  font-weight: 500;
  font-size: 1.125rem;
}

.libro__nota {
  font-size: 1.125rem;
}

/* --- libro --- */
#main-libro,
#main-personal,
.main-form {
  gap: 2.5rem;
}

#main-libro #informacion {
  gap: 12.5rem;
}

#main-libro #portada {
  flex: 0 1 30%;
}

#datos {
  align-items: start;
  font-size: 1.25rem;
  gap: 1rem;
}

#datos-importantes {
  align-items: start;
  gap: 0.5rem;
}

:is(#main-libro, #main-personal) h1 {
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

#datos-importantes > * {
  line-height: 1.1;
  font-weight: 500;
}

#main-libro #serie,
#main-personal #apodo {
  font-size: 1.75rem;
}

#main-libro #autor {
  font-size: 1.5rem;
}

#main-libro .nota {
  font-size: 1.35rem;
}

span,
#main-libro :is(h2, h3),
#main-personal #apodo {
  font-weight: 500;
}

#main-libro h3 {
  font-size: 1.25rem;
}

:is(#iritziak, #eskaerak)::before {
  content: '';
  display: block;
  height: 4rem;
  margin-top: -4rem;
  visibility: hidden;
}

#reviews {
  gap: 1.5rem;
}

.review {
  gap: 0.75rem;
}

#reviews .btn {
  align-self: start;
}

.ver-respuestas {
  font-size: 1.15rem;
}

/* - respuestas -  */
#main-respuestas ol {
  list-style-type: decimal;
}

#main-respuestas ol li,
#main-respuestas h3 {
  font-weight: 600;
}

#main-respuestas ol p {
  font-weight: 400;
}

#main-libro #sinopsis,
#opiniones,
:is(#main-respuestas) > section {
  width: 70ch;
  text-align: justify;
}

#main-respuestas > section {
  align-items: stretch;
}

/* - área personal - */
#main-personal #informacion {
  column-gap: 8rem;
}

#main-personal #perfil {
  flex: 0 1 20%;
}

#main-personal #perfil img {
  width: 100%;
}

#main-personal .titulo-libro a {
  color: inherit;
}

/* ===== footer ===== */
footer {
  background-color: var(--clr-gris-oscuro);

  padding: 2rem 15rem;
  width: 100%;

  border-top: 3px solid;
  border-image-slice: 1;
  border-image-source: var(--gradiente);
  box-shadow: var(--sombra-superior);

  gap: 1.25rem;
}

footer * {
  color: var(--clr-blanco);
  font-size: 1.15rem;
}

/* ===== responsive ===== */

/* ===== clases de utilidad ===== */
.flex-center-row {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.flex-space-between-row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.flex-space-between-col {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.flex-space-evenly-row {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
}

.flex-stretch-col {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: stretch;
}

a.btn {
  color: var(--clr-negro);
  background: var(--borde-gradiente-radius);

  font-weight: 600;

  padding: 0.5rem 1rem;
  align-self: center;

  border: 3px solid transparent;
  border-radius: 1rem;

  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

/* a.btn::before {
  content: '';

  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: var(--gradiente-transparente);
  transition: left 650ms;
}

a.btn:hover::before {
  left: 100%;
} */

.error {
  background-color: var(--clr-error);
}

.fa-star {
  color: var(--clr-acento);
}

.hidden {
  display: none;
}

.volver {
  font-size: 1.3rem;
  font-weight: 450;
}

.grupo-volver,
.grupo-botones {
  gap: 0.5rem;
}
