/* Global */

body {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    margin: 0;
}

table  {
    border: 3px solid dodgerblue;
    border-radius: 10px; 
    text-align: center;
    padding: 10px;
}

a {
    background-color: black;
    border-radius: 5px;
    margin-right: 5%;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#botones :hover {
    background-color: rgb(70, 70, 70);   
}

#botones :active {
    background-color: rgb(150, 150, 150);   
}

#pfp {
    width: 120px;
    height: 120px;
    margin-top: 1%;
    border: 3px solid dodgerblue;
    border-radius: 10px; 
}

/* Movil */
@media screen and (max-width: 500px) {

    #contenedorReviews, #contenedorUsuario , #botones {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
    }

    #contenedorUsuario  {
        display: flex;
        justify-content: center;
    }

    li {
        list-style: none;
        margin-left: -15%;
    }

    #botones {
        display: flex;
        justify-content: center;
    }

}

/* Tablet */
@media screen and (min-width: 501px) and (max-width: 1000px) {

    #contenedorReviews, #contenedorUsuario , #botones {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;
    }

    #contenedorUsuario  {
        display: flex;
        justify-content: center;
    }

    li {
        list-style: none;
        margin-left: -10%;
    }

    #botones {
        display: flex;
        justify-content: center;
    }

}

/* PC */
@media screen and (min-width: 1000px) {

    #contenedorReviews, #contenedorUsuario , #botones {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;
    }

    #contenedorUsuario  {
        display: flex;
        justify-content: center;
    }

    li {
        margin-left: -15%;
        list-style: none;
    }

    #botones {
        display: flex;
        justify-content: center;
    }

    
}
